<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
      
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <ion-thumbnail class="thumbnail">
          <img alt="Silhouette of mountains" src="../../assets/logo.svg" />
        </ion-thumbnail>
      </ion-title>
    </ion-toolbar>
  </ion-header>


    
      
      
    

  
  <ion-content  [fullscreen]="true">
    <ion-list class="corpo">
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="usuario" type="text" label="Usuário" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="senha" type="password" label="Senha" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="login()" color="warning" shape="round">Login</ion-button>
    </ion-list>
  </ion-content>


</ion-content>
