ion-toolbar {
    --background: #D9DD4A;
}

ion-title {
    color: black;
}

img {
    margin-left: 50%;
}

ion-thumbnail {
    --size: 140px;
    --border-radius: 50%;
  }

.thumbnail {
    margin: 20px
}