ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
}

.card {
    line-height: 40px;
}

ion-input {
    border-radius: 10px;
}

// ion-list {
//     background-color: #D9DD4A;
// }

ion-toolbar {
    --background: #D9DD4A;
}

ion-title {
    color: black;
}

ion-label {
    font-weight: bold;
    color: whitesmoke;

}

ion-input{
    background-color: #5e5e5e;
}

p {
    display: flexbox;
    align-content: center;
}

// ion-input {
//     border-radius: 10px;
// }

.editar {
    margin-left: 70%;
}

#info {
    --background-color: #5e5e5e;
}