<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card">
  <ion-list>
    <ion-title>Postagem</ion-title>
    
    <ion-input [(ngModel)]="postagemDados.postagem"></ion-input>
  </ion-list>

  

    <ion-label>Até 4 arquivos</ion-label>
    <input type="file" (change)="onFileSelected($event)" multiple>
    <ion-button id="btnpost" (click)="createOrUpdate()">{{ isEditing ? 'Atualizar' : 'Postar' }}</ion-button>
  </ion-card>

  <ion-list >
    <ion-card id="cardPost">
    <ion-item id="postcard" *ngFor="let postagem of postagens">
      <ion-list>

        <ion-item id="info">
          <p>postado por {{ postagem.usuario }} em {{ postagem.dataHora}} </p>
        </ion-item>


        <ion-item class="conteudo">

          <p id="post">{{ postagem.idPostagem}}</p> <p> {{ postagem.textoPostagem }}</p>

        </ion-item>

        <ion-item >
          <div  *ngFor="let file of postagem.files">
            <div *ngIf="file.path">
              <ng-container class="conteudo" *ngIf="isImage(file.path); else notImage">
                <img [src]="file.path" alt="Thumbnail" width="100">
              </ng-container>
              <ng-template #notImage>
                <a [href]="file.path" target="_blank">
                  <ion-icon name="document"></ion-icon> {{ file.name }}
                </a>
              </ng-template>
            </div>
          </div>
        </ion-item>
        <ion-button class="editar" (click)="editPostagem(postagem)">Editar</ion-button>
      </ion-list>
    </ion-item>
  </ion-card>
  </ion-list>
</ion-content>
